<h1>My Tasks</h1>

<br>
<br>

<div>
  <% @tasks.each do |task| %>
    <div>
      <%= check_box_tag(task.title, value=task.title, checked = task.completed) %>
      <%= link_to task.title, task_path(task) %>
    </div>
  <% end %>
</div>

<br>
<br>

<div><%= link_to "Create a new task", new_task_path %></div>
